#light_box
  #calculating-modal
    = fa_icon "spinner spin", class: "spinner"
    Calculating...

.picker
  = form_tag pick_assistant_path, method: :post, id: "hero-form", remote: true do |f|
    .headline Dota 2 Pick Wizard
    .new-line

    .your-team
      .headline Your Team

      .strategy-selector
        = radio_button_tag "composition", 'ideal_balanced_vector', checked: true
        = label_tag 'composition_ideal_balanced_vector', '2-1-2'

        = radio_button_tag 'composition', 'ideal_jungling_vector'
        = label_tag 'composition_ideal_jungling_vector', 'Jungling'

        = radio_button_tag 'composition', 'ideal_trilane_vector'
        = label_tag 'composition_ideal_trilane_vector', 'Trilane'

      = text_field_tag :text, "", class: 'text-input', id: 'friendly-autocomplete'

      .new-line

      .hero-box.friendly
        .name
        = hidden_field_tag "friendlies[]"
      .hero-box.friendly
        .name
        = hidden_field_tag "friendlies[]"
      .hero-box.friendly
        .name
        = hidden_field_tag "friendlies[]"
      .hero-box.friendly
        .name
        = hidden_field_tag "friendlies[]"

      .recommendations
        .headline Recommendations

        .new-line

        .hero-box.recommendation
        .hero-box.recommendation
        .hero-box.recommendation
        .hero-box.recommendation
        .hero-box.recommendation

        .headline Avoid

        .new-line

        .hero-box.avoid
        .hero-box.avoid
        .hero-box.avoid
        .hero-box.avoid
        .hero-box.avoid

    .enemy-team
      .headline Enemy Team

      = text_field_tag :text, "", class: 'text-input', id: 'enemy-autocomplete'

      .new-line

      .hero-box.enemy
        .name
        = hidden_field_tag "enemies[]"
      .hero-box.enemy
        .name
        = hidden_field_tag "enemies[]"
      .hero-box.enemy
        .name
        = hidden_field_tag "enemies[]"
      .hero-box.enemy
        .name
        = hidden_field_tag "enemies[]"
      .hero-box.enemy
        .name
        = hidden_field_tag "enemies[]"


      -# .hero-group
      -#   .hero_group_header Radiant Strength
      -#   - Hero.radiant.with_main_attribute(:strength).each do |hero|
      -#     .hero-box
      -#       = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
      -#       = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize, 'small']
      -#       = label_tag "hero-#{hero.id}", hero.name

:javascript
  $(document).ready(function() {
    new HeroAutoComplete($("#friendly-autocomplete"), #{@hero_autocomplete_array.to_json}, "friendly");
    new HeroAutoComplete($("#enemy-autocomplete"), #{@hero_autocomplete_array.to_json}, "enemy");
  })
