= form_tag pick_assistant_path, method: :post do |f|
  %b Friendly Heroes: 
  %br
  - @heroes.each do |hero|
    = label_tag "hero", hero.name
    = check_box_tag "friendlies[]", hero.id
    %br
  %b Enemy Heroes:
  %br
  - @heroes.each do |hero|
    = label_tag "hero", hero.name
    = check_box_tag "enemies[]", hero.id
    %br

  = submit_tag "Submit picks"
