#light_box
  #calculating-modal
    = fa_icon "spinner spin", class: "spinner"
    Calculating...

= render 'shared/live_search'

.picker
  = form_tag pick_assistant_path, method: :post do |f|
    #friendly-heroes.panel.friendly
      .headline Dota 2 Pick Assistant
      .hero_header Select Friendly Heroes
      .new-line

      .hero-group
        .hero_group_header Radiant Strength
        - Hero.radiant.with_main_attribute(:strength).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Radiant Agility
        - Hero.radiant.with_main_attribute(:agility).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Radiant Intelligence
        - Hero.radiant.with_main_attribute(:intelligence).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name


      .hero-group
        .hero_group_header Dire Strength
        - Hero.dire.with_main_attribute(:strength).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Dire Agility
        - Hero.dire.with_main_attribute(:agility).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Dire Intelligence
        - Hero.dire.with_main_attribute(:intelligence).each do |hero|
          .hero-box
            = check_box_tag "friendlies[]", hero.id, false, {id: "hero-#{hero.id}"}
            = label_tag "hero-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "hero-#{hero.id}", hero.name

      .right-arrow-wrapper= link_to(fa_icon("arrow-right 4x", class: "arrow"), "#enemy-heroes")


    #enemy-heroes.panel.enemy
      .hero_header Select Enemy Heroes
      .new-line

      .hero-group
        .hero_group_header Radiant Strength
        - Hero.radiant.with_main_attribute(:strength).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Radiant Agility
        - Hero.radiant.with_main_attribute(:agility).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Radiant Intelligence
        - Hero.radiant.with_main_attribute(:intelligence).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Dire Strength
        - Hero.dire.with_main_attribute(:strength).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Dire Agility
        - Hero.dire.with_main_attribute(:agility).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .hero-group
        .hero_group_header Dire Intelligence
        - Hero.dire.with_main_attribute(:intelligence).each do |hero|
          .hero-box
            = check_box_tag "enemies[]", hero.id, false, {id: "enemy-#{hero.id}"}
            = label_tag "enemy-#{hero.id}", '', class: ['hero', hero.name.parameterize]
            = label_tag "enemy-#{hero.id}", hero.name

      .left-arrow-wrapper= link_to(fa_icon("arrow-left 4x", class: "arrow"), "#friendly-heroes")

      = submit_tag "Submit picks", class: "submit"
