.border
  = form_tag pick_assistant_path, method: :post, id: "hero-form", remote: true do |f|
    .appcontainer.cf
      .side-left.col.cf
        .box.your-team
          %h2 Your Team
          .strategy-selector
            = radio_button_tag "composition", 'ideal_balanced_vector', checked: true
            = label_tag 'composition_ideal_balanced_vector', '2-1-2'

            = radio_button_tag 'composition', 'ideal_jungling_vector'
            = label_tag 'composition_ideal_jungling_vector', 'Jungling'

            = radio_button_tag 'composition', 'ideal_trilane_vector'
            = label_tag 'composition_ideal_trilane_vector', 'Trilane'
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'friendly-autocomplete', placeholder: "Add a character...", class: "search"
            %input.add.btn{value:"+", type:"submit"}
          .characters.cf
            .character.friendly
              %label.default
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              %label.default
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              %label.default
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.friendly
              %label.default
              .name
              = hidden_field_tag "friendlies[]", ""
            .character.dead


        .box.recommendations
          %h2 Recommendations
          %h3 Notes
          .notes
            %p Your team needs more Germans
          %h3 We Recommend
          .characters.cf
            .character.recommendation
              %label.default
            .character.recommendation
              %label.default
            .character.recommendation
              %label.default
            .character.recommendation
              %label.default
            .character.recommendation
              %label.default
          %h3 Avoid
          .characters.cf
            .character.avoid
              %label.default
            .character.avoid
              %label.default
            .character.avoid
              %label.default
            .character.avoid
              %label.default
            .character.avoid
              %label.default
      .side-right.col.cf
        .box.enemy-team
          %h2 Enemy Team
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'enemy-autocomplete', placeholder: "Add enemy hero...", class: "search"
            %input.add.btn{value:"+", type:"submit"}
          .characters.cf
            .character.enemy
              %label.default
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.default
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.default
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.default
              .name
              = hidden_field_tag "enemies[]", ""
            .character.enemy
              %label.default
              .name
              = hidden_field_tag "enemies[]", ""

        .box.bans
          %h2 Bans
          .search
            = text_field_tag :text, "", class: 'text-input', id: 'ban-autocomplete', placeholder: "Add banned hero...", class: "search"
            %input.add.btn{value:"+", type:"submit"}
          .characters.bans.cf
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""
            .character.banned
              %label.default
              .name
              = hidden_field_tag "bans[]", ""

          %h3 Recommended Bans
          .characters.cf
            .character.ban
            .character.ban
            .character.ban
            .character.ban
            .character.ban

:javascript
  $(document).ready(function() {
    new HeroAutoComplete($("#friendly-autocomplete"), "friendly");
    new HeroAutoComplete($("#enemy-autocomplete"), "enemy");
    new HeroAutoComplete($("#ban-autocomplete"), "banned");
  })
