%h1 On Your Team:
- @friendlies.each do |hero|
  .left
    .hero{class: hero.name.parameterize}
    = hero.name 

%h1 On the Enemy Team:
- @enemies.each do |hero|
  .left
    .hero{class: hero.name.parameterize}
    = hero.name

%h1 Recommended Picks:
- @recommendation.each do |hero_score|
  .left
    .hero{class: hero_score.first.name.parameterize}
    = hero_score.first.name
    = hero_score.second

%h1 Worst Picks:
- @worst.each do |hero_score|
  .left
    .hero{class: hero_score.first.name.parameterize}
    = hero_score.first.name
    = hero_score.second
