.headline Results

%h1.hero_header On Your Team
.new-line
- @friendlies.each do |hero|
  .center
    .left
      .hero_big{class: hero.name.parameterize}
      .hero_name= hero.name

%h1.hero_header On the Enemy Team
- @enemies.each do |hero|
  .center
    .left
      .hero_big{class: hero.name.parameterize}
      .hero_name= hero.name

%h1.hero_header Recommended Picks
.new-line
- @recommendation.each do |hero_score|
  .center
    .left
      .hero_big{class: hero_score.first.name.parameterize}
      .hero_name= hero_score.first.name
      .hero_name= hero_score.second

%h1.hero_header Worst Picks
- @worst.each do |hero_score|
  .center
    .left
      .hero_big{class: hero_score.first.name.parameterize}
      .hero_name= hero_score.first.name
      .hero_name= hero_score.second

.new_line
.submit_wrapper
  = button_to("Back", pick_assistant_path, class: "submit", method: :get)
